@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');

body {
    font-family: 'Crimson Text' ;
    margin: 0;
    padding: 0;
    background-color: #fbfbd6;
}

pre {
  display: none;
}

p {
  padding-left: 15vw;
  text-align: left;
  font-size: 20px;
  line-height: 30px;
  max-width: 600px;
}

p:nth-of-type(3n) {
  padding-left: 40vw;
  text-align: right;
  font-size: 20px;
  line-height: 30px;
  max-width: 600px;
}


h1 ~ h2 {
  color: maroon;
}

img {
  display: block;
  margin: auto;
  width: auto;
}

h5 {
  display: none;
}

h1 {
  text-align: center;
  font-size: 50px;
}

h2 {
  text-align: center;
  font-size: 40px;
}

h3:only-child {
  margin: auto;
  margin-bottom: 3vw;
  text-align: center;
  font-size: 50px;
  line-height: 100%;
  max-width: 600px;
  color: #233C72;
}

h3{
  margin: auto;
  text-align: center;
  font-size: 50px;
  line-height: 100%;
  max-width: 600px;
}

table {
  margin: auto;
  font-size: 20px;
  line-height: 30px;
}

a:visited {
  color: maroon;
}

a:link {
  color: maroon;
}

h3:first-of-type {
  margin: auto;
  margin-bottom: 3vw;
  text-align: center;
  font-size: 50px;
  line-height: 100%;
  max-width: 600px;
  color: #233C72;
}

.chapter h3 {
  border: 2px solid maroon;
}

h1 ~ h3 {
  border: 2px solid maroon;
} 